version: 2
jobs:
  build:
    working_directory: ~/repo
    branches:
      ignore:
        - gh-pages
    docker:
      #      - image: hanskerkhof/ubuntu-node-awscli:1.2
      - image: cimg/node:15.11.0
    steps:
      - checkout

      #      - run:
      #          name: bump package version
      #          command: |
      #            npm --no-git-tag-version version patch -m "Bumped version number to %s [ci skip]"
      #            git push origin master
      #      #            git push --tags

    - restore_cache:
        keys:
          # when lock file changes, use increasingly general patterns to restore cache
          - node-v1-{{ .Branch }}-{{ checksum "package-lock.json" }}
          - node-v1-{{ .Branch }}-
          - node-v1-

#      - restore_cache:
#        keys:
#          - node-dependency-cache-{{ .Branch }}-{{ checksum "package-lock.json" }}
#          - node-dependency-cache--{{ .Branch }}-
#          - node-dependency-cache--
#          # key: dependency-cache-{{ checksum "package-lock.json" }}

      - run:
          name: install-dependencies
          command: npm install

      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules

      - run:
          name: angular-lint
          command: npm run lint

      - run:
          name: build
          command: npm run build

      - run:
          name: deploy
          command: yarn run deploy


#      - run:
#          name: angular-build
#          command: |
#            if [ "${CIRCLE_BRANCH}" == "master" ]; then
#              node version.js && node_modules/\@angular/cli/bin/ng build --no-progress --prod
#            else
#              node version.js && node_modules/\@angular/cli/bin/ng build --prod --no-progress --base-href=/${CIRCLE_BRANCH}/
#            fi
#      - run:
#          name: deploy-s3.sh
#          command: |
#             if [ "${CIRCLE_BRANCH}" == "master" ]; then
#               sh ./deploy-s3.sh
#             else
#               sh ./deploy-s3.sh ${CIRCLE_BRANCH}
#             fi
